<p id="notice"><%= notice %></p>

<div id="profile_show_info">
	<%= render partial: "profile_info" %>	
</div>
<div id="profile_show_publications">
	<%= render partial: "/basic_publications/publication_info" %>
</div>
